#include <windows.h>

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
Logo_icon    ICON    DISCARDABLE     "../../resources/icons/source/openehr_awb_small_logo.ico"

#define VER_FILEVERSION             1,5,1,0
#define VER_FILEVERSION_STR         "1.5.1.0\0"

#define VER_PRODUCTVERSION          1,5,1,0
#define VER_PRODUCTVERSION_STR      "1.5\0"

#ifndef DEBUG
#define VER_DEBUG                   0
#else
#define VER_DEBUG                   VS_FF_DEBUG
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION    	VER_FILEVERSION
PRODUCTVERSION 	VER_PRODUCTVERSION
FILEFLAGSMASK  	VS_FFI_FILEFLAGSMASK
FILEFLAGS      	1
FILEOS         	VOS__WINDOWS32
FILETYPE       	VFT_DLL
FILESUBTYPE    	VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "openEHR Foundation"
            VALUE "FileDescription",  "Archetype Definition Language Workbench"
            VALUE "FileVersion",      VER_FILEVERSION_STR
            VALUE "InternalName",     "adl_workbench.exe"
            VALUE "LegalCopyright",   "Copyright © 2003-2014"
            VALUE "OriginalFilename", "adl_workbench.exe"
            VALUE "ProductName",      "ADL Workbench"
            VALUE "ProductVersion",   VER_PRODUCTVERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        /* The following line should only be modified for localized versions.     */
        /* It consists of any number of WORD,WORD pairs, with each pair           */
        /* describing a language,codepage combination supported by the file.      */
        /*                                                                        */
        /* For example, a file might have values "0x409,1252" indicating that it  */
        /* supports English language (0x409) in the Windows ANSI codepage (1252). */

        VALUE "Translation", 0x409, 1252

    END
END

// The manifest for enabling Windows visual styles is required for compilation with MingW.
// (Microsoft C doesn't need it because disptchr.c in WEL has a #pragma for it, but it does no harm putting it here too.)
// It has to appear at the end, else MinGW will ignore it.
// We also have to redefine CREATEPROCESS_MANIFEST_RESOURCE_ID and RT_MANIFEST because the definitions in MingW's
// version of winuser.h produce syntax errors.

#undef CREATEPROCESS_MANIFEST_RESOURCE_ID
#define CREATEPROCESS_MANIFEST_RESOURCE_ID 1
#undef RT_MANIFEST
#define RT_MANIFEST 24
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "adl_workbench.exe.manifest"
